#who-section {
  width: 100%;
  background: #101010;
  z-index: 3;
}

.BrainhubCarousel__arrows:disabled {
  opacity: .1;
}

.BrainhubCarousel__arrows {
  background-color: unset!important;
}

.slick-prev {
  left: 16px!important;
}

.slick-next {
  right: 16px!important;
}

.slick-arrow {
  z-index: 4!important;
}

.slick-prev:before, .slick-next:before {
  font-size: 30px!important;
}