#header {
  display: flex;
  height: 10rem;
  padding: 0 8rem;
  background: #000000;
  box-shadow: 0rem 0.2rem 0.7rem 0.3rem rgba(0, 0, 0, 0.15);
}
#header .block-logo-column {
  display: flex;
  flex: 1 0 50%;
  align-items: center;
  justify-content: flex-end;
  background-color: black;
}
#header .block-logo-container {
  margin-right: 40%;
}
#header .block-logo {
  width: 16.4rem;
  height: 4.5rem;
}
#header .discord-button-column {
  display: flex;
  flex: 1 0 50%;
  align-items: center;
}
#header .discord-button-link {
  margin-left: 40%;
}
#header .discord-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16.4rem;
  height: 4.5rem;
  border: 1px solid white;
}
#header .discord-button-text {
  /* Join us on */
  margin-right: 0.5rem;
  font-weight: 500;
  font-size: 1.4rem;
  color: white;
}
#header .discord-logo {
  width: 8.2rem;
  height: 2.247rem;
}
