@import-normalize;
@font-face {
  font-family: 'Barlow Condensed';
  src: url('./assets/fonts/BarlowCondensed-Medium.ttf');
  font-display: swap;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: 'Barlow Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
